.flex-formulario{
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 0 0;
    .formulario{
        display: flex;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        font-size: 100%;
        margin: 0 100px 0 0;
        .textPrincipal{
            margin: 0 0 20px 0;
            align-items: center;
        }
    }
}