.estructura-portfolio{
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;
    min-height: calc(100vh - 120px - 130px);
        .tituloPortfolio{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 20px 0 20px 0;
           .subtituloPortfolio{
                margin: 0 0 0 20px;
            }
        }
        .container-galeria{
            display: grid;
            margin: 0 0 50px 0;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
             "work1 work2 work3"
             "work4 work5 work6";
            justify-items: center;
            align-self: center;
            justify-content: center;
            div{
                height: 200px;
                margin: 0 0 25px 0;
                img{
                    width: 300px;
                    overflow: hidden;
                    margin: 5px;
                    &:hover{
                        transform: scale(1.1);
                        transition: 1s;
                    }
                }
            }
        }
}