.flex-content-serv{
    display: flex;
    flex-direction: column;
    align-items: center;
        .categoriaServ{
            margin: 60px 0 20px 0;
        }
        .infoServicios{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 0 50px 0;
            .placaServ{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px;
                padding: 20px;
                width: 300px;
                height: auto;
                background-color: #ece5f0;
                    .iconosServ{
                        width: 70px;
                        height: 70px;
                    }
                    .titleServ{
                        font-size: 100%;
                        font-weight: 700;
                        text-align: center;
                        margin: 25px 0 0 0;
                        
                    }
                    .parrafoServ{
                        margin: 5px 0 0 0;
                        text-align: center;
                        padding: 5px;
                    }
            }
        }

}