@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Darker+Grotesque:wght@300;400;500;600&family=Montserrat:ital,wght@0,300;0,400;0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

// COLORES

/* SCSS HEX */
$eerie-black: #262626ff;
$laurel-green: #acbfa4ff;
$beige: #e2e8ceff;
$amber-sae-ece: #ff7f11ff;


$colorFondo: #e2e8ceff;
$colorenfasis: #024f49;

// HEADER



// TIPOGRAFÍAS

$titulosPaginas: "Poppins", sans-serif;
$subtitulosPaginas: "Montserrat", sans-serif;



