%estiloTituloPag {
    font-family: $titulosPaginas;
    font-size: 300%;
    color: #003b36;
}

%estiloSubPag { 
    font-family: $subtitulosPaginas;
    font-size: 100%;
    color: black;
}


@mixin estiloHeader ($colorFondo){
    background-color: $colorFondo; 
}


// PORTFOLIO

%formatoImagenPort{
    width: 300px;
    margin: 5px;
}

%animacionImagenPort{
    transform: scale(1.1);
    transition: .3s;
}
