.flex-formulario{
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: 0 !important;
    .logoParaleloForm{
         width: 550px;
    }
    .formulario{
        form{
        h1{
            @extend %estiloTituloPag;
        }    
        padding: 25px;
        textarea{ 
        width: fit-content;         
        }
        }
    }
}