.flex-content-serv {
  display: flex;
  flex-direction: column;
  align-items: center;
  .tituloServicios {
    @extend %estiloTituloPag;
    margin: 50px 0 0 0;
  }
  .categoriaServ {
    margin: 60px 0 20px 0;
  }
  .infoServicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 50px 0;
    .placaServ {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 20px 20px 20px;
      padding: 20px;
      width: 300px;
      height: auto;
      background-color: #ece5f0;
      &:hover{
        transform: scale(1.1);
        transition: .3s;
        border-color: $colorenfasis;
        }
      .iconosServ {
        width: 70px;
        height: 70px;
      }
      i { 
        width: 70px;
        height: 70px;
      }
      .titleServ {
        font-size: 100%;
        font-weight: 700;
        text-align: center;
        margin: 25px 0 0 0;
        color: #024f49;;
      }
      .parrafoServ {
        margin: 5px 0 0 0;
        text-align: center;
        padding: 5px;
      }
    }
  }
}
