.header-nav { 
    position: sticky;
    top: 0;
    z-index: 3;
    // width: 100vw !important;
    // padding: 0 !important;
    background-color: $colorFondo !important;
    .navbar-nav{
        .page-html{
            font-size: 90%;
            font-weight: 500 !important;
            text-decoration: none;
            color: rgb(31, 28, 28);
            margin: 0 20px 0 20px;
        }
        .nav-link{
            &:focus, 
            &:hover {
                    color: #ff7f11ff;
                    transform: scale(1.1);
                    transition: .3s;
                    font-weight: 600 !important;
                    translate: 0 !important; 
                    }
                    
        }
    }
}